<!DOCTYPE html>
<html>
<head>
  <title>ResourceIndex</title>
  <%= stylesheet_link_tag    "resource_index/application", :media => "all" %>
  <%= javascript_include_tag "resource_index/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
